@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    background-color: #2B2C3A;
    color: #fff;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
}
.wrapper {
    min-height: 100%;
}
/*-----------------------*/
.leftbar{
    position: fixed;
    height: 100%;
    width: 280px;
    background: rgba(156, 165, 236, 0.04);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    .logo {
        padding: 20px 30px 26px 30px;
    }
    .leftbarMenu {
        padding: 20px 30px 4px 30px;
    }
    .mailing {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        line-height: 10px;  
        padding: {
            left: 30px;
            right: 30px;
            bottom: 30px;
        }
        span {
            opacity: 0.5;
            font-size: 14px;
        }
        .mailingSwitch {
            cursor: pointer;
        }
    }
    ul, a, p {
        cursor: pointer;
    }
    #programms, 
    #lectures {
        display: flex;
        justify-content: space-between;
    }
    .menuClose{
        display: none !important;
        list-style: none;
    }
    p {
        margin-bottom: 16px;
    }
    .menuToggle {
        background: none;
        cursor: pointer;
    }
    ul {
        display: flex;
        flex-direction: column;
        margin-left: -30px;
        margin-right: -30px;
        margin-bottom: 16px;
        li {
            display: flex;
            align-items: center;
            height: 40px;
            opacity: 0.5;
            &:hover {
                background: rgba(255, 255, 255, 0.03);
                opacity: 1;
                .selectLine {
                    opacity: 1;
                }
            }
            span {
                margin-left: 24px;
            }
            .selectLine {
                width: 3px;
                height: 100%;
                background: #000;
                margin-right: 47px;
                background: #6F6EFF;
                box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);  
                opacity: 0;
            }
        }
    }
}
.topbar {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    padding: 30px 45px 30px 55px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(216, 216, 216, 0.1);
    .information {
        display: flex;
        margin-left: 280px;
        font-size: 14px;
        line-height: 10px;
        align-items: center;
        p {
            margin-right: 28px;
            opacity: 0.6;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
        .vLine {
            width: 1px;
            height: 24px;
            background: #D8D8D8;
            opacity: 0.1;
        }
    }
    .personal {
        display: flex;
    }
}
.hLine {
    width: 100%;
    height: 1px;
    background: #D8D8D8;
    opacity: 0.1;
}



#switch {
    width:42px;
    padding:2px;
    opacity: 0.2;
    border: 1px solid #FFFFFF;
    box-sizing:border-box;
    -webkit-filter:grayscale(100%);
    -webkit-transition:all 03s;
    transition:all 0.3s;
    border-radius:15px;
    cursor:pointer
  }
  
  #toggle {
    width:16px;
    height:16px;
    background:#6F6EFF;
    box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
    border-radius:100%;
    position:relative;
    transition:all 0.3s;
    left:0;
    -webkit-transition:all 0.3s;
  }
  
  #switch.switchOn #toggle {
    left:20px;
  }
  
  #switch.switchOn {
    -webkit-filter:none;
    opacity:1
  }